@charset "UTF-8";

* { 
    margin: 0px; /* esse '*' se refere a todos os elementos*/
    padding: 0px;
}

html ,body {
    min-height: 100vh; /* vh = viewport-height */
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 50px;
    /*text-transform: lowercase;*/
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;


}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;

}